.LIB {
  background-color: #a70000;
}

.PC {
  background-color: #084a92;
}

.NDP {
  background-color: #f58220;
}

.GRN {
  background-color: #15683a;
}

.IND {
  background-color: gray;
}

ol {
  margin: 0 10px 10px 25px;
}

li {
  padding: 5px;
  font-weight: bold;
  text-align: left;
}

li span {
  color: white;
}

.carousel {
  margin-top: 20px;
  position: relative;
  background: white;
  width: 40%;
  border-radius: 10px;
  -webkit-box-shadow: 3px 3px 7px rgb(162,162,162);
  box-shadow: 3px 3px 7px rgb(162,162,162);
  height: 180px;
}

.item {
  width: 100%;
  background: white;
}

h3.name {
  text-align: center;
}

.votes {
  position: absolute;
  right: 15px;
}

.circle {
  position: absolute;
  top: 85px;
  width: 30px;
  height: 30px;
  border-radius: 30px;
  color:white;
  background: #4E443C;
  font-size: 22px;
  line-height:31px;
  text-decoration: none;
  text-align: center;
}
.circle:hover {
  background: white;
  text-decoration: none;
}

.right {
  right: -45px;
}

.control a.left {
  left: -45px;
}

.box-center {
  text-align: center;
}

.box-center > div {
  text-align: left;
  margin-left: auto;
  margin-right: auto;
}

.elected {
  border: 5px yellow solid;
}
